<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="../css/webBrowser.css">
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="browser-navbar">
        <ul>
            <li>
                <button id="backBtn" class="material-icons icon-button">navigate_before</button>
            </li>
            <li>
                <button id="forwardBtn" class="material-icons icon-button">navigate_next</button>
            </li>
            <li>
                <button id="reloadBtn" class="material-icons icon-button">refresh</button>
            </li>
            <li>
                <button id="homeBtn" class="material-icons icon-button">home</button>
            </li>
            <li class="li-flex-one">
              <input id="addressBar" class="address-bar" type="url">
            </li>
        </ul>
    </div>
    <webview src="https://www.google.com" allowpopups useragent="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1.2 Safari/605.1.15"></webview>
    <script src="../js/webBrowser.js"></script>
</body>
</html>