:root {
    --blurRadius: 10px;
    --transparency: 50%;

    --color1: rgba(60, 60, 60, 0.5);
    --color2: rgba(150, 150, 150, 0.3);
    --color3: rgba(0, 0, 0, 0.2);

    --color4: rgba(0, 0, 0, 0.4);

    --textColor: hsl(0, 0%, 100%);
    --textColorGray: hsl(0, 0%, 75%);
    --errorColor: crimson;

    --shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    --transitionDuration: 0.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

html {
    /* background: rgba(0, 0, 0, var(--transparency)) url("../images/wallpapers/background-sample.jpg"); */
    background: rgba(0, 0, 0, var(--transparency));
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    min-height: 100vh;
    user-select: none;
}

html, body {
    color: var(--textColor);
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.overlay-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

button:focus,
textarea:focus,
input:focus {
    outline: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 80px;
    margin: 0;
}

.m-top {
    margin-top: 10px;
}


/* Modal background */
.modal {
    visibility: visible;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition-duration: var(--transitionDuration);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.image-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Image Animation */
.modal.hidden .image-modal img {
    max-width: 0;
    max-height: 0;
}

.image-modal img { 
    max-width: 80vw;
    max-height: 80vh; 
    image-rendering: -webkit-optimize-contrast;
    transition-duration: var(--transitionDuration);
    animation-name: img-fade-in;
    animation-duration: var(--transitionDuration);
    animation-timing-function: cubic-bezier(0,1.36,.46,.95);   
}

/* General Page */
.return-head {
    margin-left: 10px;
}

.page {
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 30px;
}

.page .header {
    margin-bottom: 10px;
}

.light-container.page-container {
    margin: 15px 0;
    width: auto;
}

.page-container h2,
.page-container h3 {
    margin-bottom: 5px;
}

/* Applications Page */
.applications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: scroll;
}

.applications-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 150px;
    gap: 70px 25px;
}

.applications-list .app {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-wrap: anywhere;
    cursor: pointer;
    width: 125px;
}

.applications-list .app .app-title {
    text-align: center;
    font-size: 12px;
    height: 12px;
    margin-top: 5px;
    transition-duration: var(--transitionDuration);
}

.applications-list .app .app-icon {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    transition-duration: var(--transitionDuration);
}

.applications-list .app:hover .app-icon {
    filter: brightness(0.8);
}

.applications-list .app:active .app-icon {
    filter: none;
}

/* Settings Page */
.setting:not(:last-child) {
    margin-bottom: 20px;
}

.input-info {
    margin-right: 10px;
}

.file-input input[type=file] {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch:active .slider:before {
    width: 35px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .2s;
    border: 2px solid var(--textColorGray);
}
  
.slider:before {
    position: absolute;
    content: "";
    text-align: center;
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--textColorGray);
    transition: .2s;
}

input:checked + .slider {
    border: 2px solid var(--textColor);
}
  
input:checked + .slider:before {
    background-color: var(--textColor);
    left: calc(100% - 2px);
    transform: translateX(-100%);
}


@keyframes img-fade-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Text Selection */
::selection {
    color: var(--textColor);
    text-shadow: 2px 2px 5px black;
    background: var(--color2);
}

/* width and height */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color2); 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color4);
}

.flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-start {
    align-items: flex-start;
}

.flex-buttons {
    gap: 5px;
}

.widget-header {
    margin-bottom: 5px;
}


/* BUTTONS */
.error:not(:active) {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}

@keyframes blink {    
    100% {
        color: var(--errorColor);
    }
}

.icon-button {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: var(--textColorGray);
    transition: var(--transitionDuration);
}

.icon-button:hover,
.icon-button:focus-visible {
    color: var(--textColor);
}

.button {
    padding: 5px 30px;
    color: var(--textColor);
    transition: var(--transitionDuration);
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: none;
}

.button-primary:hover  {
    background: var(--color1);
    color: var(--textColor);
}

.button-primary,
.button-primary:active {
    background: var(--color2);
    color: var(--textColor);
}

.button-icon-left :first-child {
    margin-right: 5px;
}

.text-button {
    all: unset;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
    color: var(--textColorGray);
    transition: var(--transitionDuration);
}

.text-button:hover,
.text-button:focus-visible,
.text-button.active {
    color: var(--textColor);
}


.light-container {
    box-shadow: var(--shadow);
    padding: 20px;
    backdrop-filter: blur(var(--blurRadius));
    background: rgba(255, 255, 255, 0.1);
    margin: 15px 30px;
    width: fit-content;
    height: fit-content;
    transition-duration: var(--transitionDuration);
}

.light-container:hover {
    background: rgba(255, 255, 255, 0.065);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: var(--textColorGray);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
input[type=range]:hover,
input[type=range]:focus-visible {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--textColor);
    cursor: pointer;
}
/* ============================= */


/* TOP CONTAINER STYLING */
.top-container {
    flex: 1;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.top-outer-container-left,
.top-outer-container-right {
    flex: 1;
}

.top-outer-container-left {
    display: flex;
    justify-content: flex-start;
}

.top-outer-container-right {
    display: flex;
    justify-content: flex-end;
}


/* VOLUME WIDGET */
.volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 340px;
    margin: 0 0 10px 0;
}

.volume-container span {
    margin-right: 5px;
}

.volume-container p#volume {
    margin-left: 5px;
}


/* TIME WIDGET */
.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    width: 400px;
}


.fixed-close-button {
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(50%);
}


/* WEATHER WIDGET */
.weather-container {
    display: flex;
    margin: 0;
    align-items: center;
    position: relative;
}

.weather-icon-main {
    font-size: 50px;
    margin-right: 10px;
}

.current-weather {
    display: flex;
    align-items: center;
}

.weather-main {
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 3px solid var(--textColor);
    padding-right: 10px;
    margin-right: 10px;
}

.weather-sub {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.weather-sub-item {
    display: flex;
    width: 50px;
    flex-direction: column;
    align-items: center;
}

.weather-icon-sub {
 font-size: 24px;
}

.weather-edit-location {
    display: flex;
    overflow: hidden;
    position: absolute;
    background-color: var(--color3);
    top: calc(100%);
    left: 0;
    height: 0;
    width: 100%;

    transition-duration: var(--transitionDuration);
    transform-origin: 50px 50px;
}

.weather-edit-location span {
    margin: auto;
    margin-left: 5px;
}

.weather-edit-location input {
    background: none;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 24px;
    padding: 5px 10px;
    font-weight: bold;
}

.weather-container:hover .weather-edit-location,
.weather-edit-location:focus-within {
    height: 40px;
}
/* ============================= */


/* MIDDLE CONTAINER STYLING */
.middle-container {
    height: 65vh;
    overflow: scroll;
}

.middle-container::-webkit-scrollbar {
    display: none;
}

.middle-flex-row {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.middle-flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.middle-flex-column-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* NOTE WIDGET */
.note-container {
    width: 400px;
    display: flex;
    flex-direction: column;
}

textarea {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    color: white;
    background: var(--color3);
    resize: none;
    transition: var(--transitionDuration);
}

textarea:focus {
    background: var(--color4);
    box-shadow: var(--shadow);
}


/* CLIPBOARD WIDGET */
.clipboard-container {
    flex: 1;
    display: flex;
    width: 375px;
    height: 250px;
    flex-direction: column;
}

.clipboard-content {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--color3);
}

.clipboard-empty {
    display: flex;
    height: 100%;
    font-weight: bold;
    color: var(--textColorGray);
    justify-content: center;
    align-items: center;
}

.clipboard-text {
    padding: 10px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
}

.clipboard-text p {
    white-space: pre;
}

.clipboard-image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition-duration: var(--transitionDuration);
}

.clipboard-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

.clipboard-image::before {
    color: var(--textColorGray);
    content: "Error loading image";
}


/* STOPWATCH WIDGET */
.clock-container h1 {
    padding: 20px 0;
    font-weight: normal;
    text-align: center;
    font-size: 64px;
    width: 400px;
    background-color: var(--color3);
}

.clock-container .flex-buttons :nth-child(2) {
    width: 90px;
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown-content {
    position: absolute;
    left: 0;
    top: calc(100%);
    background-color: var(--color4);
    visibility: hidden;
    opacity: 0;
    transition-duration: var(--transitionDuration);
    padding: 10px;
    box-shadow: var(--shadow);
}

.dropdown-content ul {
    list-style-type: none;
}

.dropdown button:hover ~ .dropdown-content,
.dropdown-content:hover {
    visibility: visible;
    opacity: 1;
}


/* PERFORMANCE WIDGET */
.performance-container {
    display: flex;
    width: 500px;
    flex-direction: column;
}

.performance-container p:first-child {
    font-weight: bold;
}

.performance-stats {
    height: 100%;
    width: 100%;
    /* background-color: var(--color3); */
    padding: 10px;
    position: relative;
}

.performance-tab {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--color4);
}

.performance-tab:not(:last-child) {
    margin-bottom: 10px;
}

.performance-bar {
    height: 5px;
    width: 100%;
    background-color: var(--color2);
    transition-duration: var(--transitionDuration);
}

.performance-tab:hover .performance-bar {
    background-color: var(--color1);
}
/* ============================= */


/* BOTTOM CONTAINER STYLING */
.bottom-container {
    padding: 40px 30px;
    background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,1) 85%);
}

.bottom-container ul {
    list-style-type: none;
    display: flex;
}

.bottom-container ul li {
    margin-right: 50px;
}

.bottom-container ul li button {
    all: unset;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
    color: var(--textColorGray);
    transition: var(--transitionDuration);
}
/* ============================= */