:root {
    --color1: rgba(0, 0, 0, 0.5);
    --color2: rgba(0, 0, 0, 0.3);
    --color3: rgba(0, 0, 0, 0.2);
    --textColor: hsl(0, 0%, 100%);
    --textColorGray: hsl(0, 0%, 75%);
    --shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    --transitionDuration: 0.2s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0  ;
}

html {
    /* background: rgba(0, 00, 0, 0.75) url("../images/background-sample.jpg"); */
    background: rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    background-size: cover;
    min-height: 100vh;
    user-select: none;
}

html, body {
    color: var(--textColor);
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

button:focus,
textarea:focus,
input:focus {
    outline: none;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 80px;
    margin: 0;
}

h3 {
    margin-bottom: 10px;
}

/* Modal background */
.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: fade-in;
    animation-duration: var(--transitionDuration);
}

@keyframes fade-in {
    from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.hidden {
    display: none;
}

.image-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image-modal img {
    max-width: 80vw;
    max-height: 80vh;
}

/* Image Animation */
.image-modal img {  
    animation-name: zoom;
    animation-duration: var(--transitionDuration);
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* width and height */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color3); 
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color2);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-buttons button {
    margin-left: 5px;
}

.icon-button {
    background: none;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: var(--textColorGray);
    transition: var(--transitionDuration);
}

.icon-button:hover,
.icon-button:focus-visible {
    color: var(--textColor);
}

.button {
    margin-bottom: 5px;
    padding: 5px 30px;
    color: var(--textColor);
    transition: var(--transitionDuration);
    cursor: pointer;
    display: inline-block;
    border: none;
    outline: none;
}

.button-primary:hover  {
    background: var(--color1);
    color: var(--textColor);
}

.button-primary,
.button-primary:active {
    background: var(--color2);
    color: var(--textColor);
}

.light-container {
    padding: 20px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    margin: 15px 30px;
    width: fit-content;
    height: fit-content;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: var(--textColorGray);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
input[type=range]:hover,
input[type=range]:focus-visible {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--textColor);
    background: var(--textColor);
    cursor: pointer;
}

.margin-none {
    margin: 0;
}



/* TOP CONTAINER STYLING */
.top-container {
    flex: 1;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-outer-container {
    flex: 1;
}

.volume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
}

.volume-container span {
    margin-right: 5px;
}

.volume-container p#volume {
    margin-left: 5px;
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
}


/* MIDDLE CONTAINER STYLING */
.middle-container {
    height: 65vh;
}

.middle-flex-row {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.middle-flex-column-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.middle-flex-column-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.note-container {
    aspect-ratio: 16/10;
    max-width: 35vw;
    display: flex;
    flex-direction: column;
}

.clipboard-container {
    flex: 1;
    display: flex;
    aspect-ratio: 16/11;
    max-width: 35vw;
    max-height: 250px;
    flex-direction: column;
}

.clipboard-content {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--color3);
}

.clipboard-empty {
    display: flex;
    height: 100%;
    font-weight: bold;
    color: var(--textColorGray);
    justify-content: center;
    align-items: center;
}

.clipboard-text {
    padding: 10px;
    overflow-y: scroll;
    position: absolute;
    height: 100%;
    width: 100%;
}

.clipboard-text p {
    white-space: pre;
}

.clipboard-image {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    transition-duration: var(--transitionDuration);
}

.clipboard-image:hover {
    cursor: pointer;
    opacity: 0.7;
}

.clipboard-image::before {
    color: var(--textColorGray);
    content: "Error loading image";
}

textarea {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    color: white;
    background: var(--color3);
    resize: none;
    transition: var(--transitionDuration);
}

textarea:focus {
    background: var(--color2);
    box-shadow: var(--shadow);
}


/* BOTTOM CONTAINER STYLING */
.bottom-container {
    padding: 40px 30px;
    background: linear-gradient(180deg, transparent 0%, rgba(0,0,0,1) 85%);
}

.bottom-container ul {
    display: flex;
}

.bottom-container ul li {
    list-style-type: none;
    margin-right: 50px;
}

.bottom-container ul li button {
    all: unset;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
    color: var(--textColorGray);
    transition: var(--transitionDuration);
}

.bottom-container ul li button:hover,
.bottom-container ul li button:focus-visible {
    color: var(--textColor);
}


